body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200%;
    max-width: 400px;
  }
  
  .boxtxt,
  .boxpass {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .btn-event,
  .btn-logout {
    margin: 0 auto;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .txt{
    font-size: 20 px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }

  .btnswitch{
    background-color: #0095b3;
    border-radius: 20px;
    width: 40%;
    padding: 5px;
    border-width: 0px;
    margin-left: 15px;
    color: #f0f0f0;
    font-size: 16px;
    box-shadow: 0px 2px 15px;
  }

  button:hover {
    background-color: #0056b3;
  }
  