name: Deployment Login

on:
  push:
    branches:
      - master

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ${{ github.repository }}
          path: Cliente-Servidor
      - uses: actions/setup-node@v4
        with:
          node-version: 16.6.0
      - run: npm install
        working-directory: Cliente-Servidor

  deploy:
    needs: start
    runs-on: ubuntu-latest
    steps:
      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy Login App with Railway
        run: railway up --service Cliente-Servidor
        working-directory: Cliente-Servidor
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
